<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Stock Report{% endtrans %} | {{stockrefresh["productdesc"]}}</title>
    <style>
    @page {
      size: 21cm 29.7cm;
      margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
    }
    td {
      font-size: 71%;
    }

    th {
      font-size: 75%;
    }
		table { page-break-inside:auto }
		tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
		.rightlist {
	    text-align: right;
	  }
		.calign{
	    text-align:center;
	  }
    </style>
	</head>
	<body>
    <input type="hidden" id="productcode" name="productcode" value="{{stockrefresh["productcode"]}}"></input>
    <input type="hidden" id="productdesc" name="productdesc" value="{{stockrefresh["productdesc"]}}"></input>
    <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{stockrefresh["calculatefrom"]}}"></input>
    <input type="hidden" id="calculateto" name="calculateto" value="{{stockrefresh["calculateto"]}}"></input>
    <input type="hidden" id="financialstart" name="financialstart" value="{{stockrefresh["financialstart"]}}"></input>
		<input type="hidden" id="godownflag" name="godownflag" value="{{stockrefresh["godownflag"]}}"></input>
		<input type="hidden" id="goid" name="goid" value="{{stockrefresh["goid"]}}"></input>
		<input type="hidden" id="goname" name="goname" value="{{godown}}"></input>
		<input type="hidden" id="goaddr" name="goaddr" value="{{godownadd}}"></input>

		<div class="printorgdetails hidden-print" style="text-align:center;">
    {% if godown=="" %}
		<strong><i>{% trans %}Product Report{% endtrans %}</i></strong>
		{% else %}
		<strong><i>{% trans %}Godown Wise Product Report{% endtrans %}</i></strong>
		{% endif %}
		</div>

		<div class="printorgdetails hidden-print" style="text-align:center;">
    {% if godown=="" %}
		<i>{% trans %}Name of the Product{% endtrans %}: </i><strong>{{stockrefresh["productdesc"]}}</strong>
		{% else %}
		<i>{% trans %}Name of the Product{% endtrans %}: </i><strong>{{stockrefresh["productdesc"]}}</strong>
		<br>
		<i>{% trans %}Name of the Godown{% endtrans %}: </i><strong>{{godown}}</strong><i>{% trans %} Godown Address{% endtrans %}: </i><strong>{{godownadd}}</strong>
    {% endif %}
		<i>{% trans %}Period{% endtrans %}</i> : <strong>{{stockrefresh["calculatefrom"]}}</strong> {% trans %}to{% endtrans %} <strong>{{stockrefresh["calculateto"]}}</strong>
	</div>
		<div class="table-responsive printorgdetails">
			<table id="ledgertable" class="table shadow table-striped table-condensed table-bordered">
				<thead class="bg-primary">
					<tr class="visible-print">
						<th colspan="15" style="text-align:center; font-size:80%">
						{% if godown=="" %}
						<strong><i>{% trans %}Product Report{% endtrans %}</i></strong>
						{% else %}
						<strong><i>{% trans %}Godown Wise Product Report{% endtrans %}</i></strong>
						{% endif %}
						<br>
						{% if godown=="" %}
						<i>{% trans %}Name of the Product{% endtrans %}: </i><strong>{{stockrefresh["productdesc"]}}</strong>
						{% else %}
						<i>{% trans %}Name of the Product{% endtrans %}: </i><strong>{{stockrefresh["productdesc"]}}</strong>
						<br>
						<i>{% trans %}Name of the Godown{% endtrans %}: </i><strong>{{godown}}</strong><i>{% trans %} Godown Address{% endtrans %}: </i><strong>{{godownadd}}</strong>
				    {% endif %}
						</th>
					</tr>
					<tr>
            <th class="col-xs-1 calign" >
              {% trans %}Date{% endtrans %}
            </th>
						{% if godown == "" %}
		        <th class="col-xs-4 calign" >
		        {% else %}
		        <th class="col-xs-3 calign" >
		        {% endif %}
              {% trans %}Particulars{% endtrans %}
            </th>
            <th class="col-xs-2 calign" >
              {% trans %}Document Type{% endtrans %}
            </th>
            <th class="col-xs-1 calign" >
              {% trans %}Deli Note No.{% endtrans %}
            </th>
						<th class="col-xs-1 calign" >
              {% trans %}INV No.{% endtrans %}
            </th>
						{% if godown != "" %}
						<th class="col-xs-2 calign" >
							{% trans %}TN No.{% endtrans %}
						</th>
						{% endif %}
			{#<th class="col-xs-1 calign" >
		          {% trans %}RN No.{% endtrans %}
		        </th>#}
            <th class="col-xs-1 rightlist" >
              {% trans %}Inward{% endtrans %}
            </th>
            <th class="col-xs-1 rightlist" >
              {% trans %}Outward{% endtrans %}
            </th>
            <th class="col-xs-1 rightlist" >
              {% trans %}Balance{% endtrans %}
            </th>
					</tr>
				</thead>
        {% for record in gkresult %}
				{% if record["particulars"] =="opening stock" and record["dcno"]=="" and record["invno"]=="" and record["date"]=="" %}
	      <tr>
	        <td class="col-xs-1 calign" >
	        </td>
					{% if godown == "" %}
	        <td class="col-xs-4">
	        {% else %}
	        <td class="col-xs-3">
	        {% endif %}
	          {{record["particulars"]}}
	        </td>
	        <td class="col-xs-2 calign" >
	        </td>
	        <td class="col-xs-1 calign" >
	        </td>
					<td class="col-xs-2 calign" >
	        </td>
					{% if godown != "" %}
	        <td class="col-xs-1 calign" >
	        </td>
	        {% endif %}
					{#<td class="col-xs-1 calign" >
	        </td>#}
	        <td class="col-xs-1 rightlist">
	          {{record["inward"]}}
	        </td>
	        <td class="col-xs-1 rightlist" >
	        </td>
	        <td class="col-xs-1 rightlist" >
	        </td>
	      </tr>
	      {% endif %}
				{% if record["particulars"] !="Total" and (record["dcno"]!="" or record["invno"]!="" or record["tnno"]!="" or record["rnno"] != "") and record["date"]!="" %}
	      {% if record["dcno"]!= "" %}
	      <tr value="{{record["dcid"]}}">
	      {% elif record["invno"]!= "" %}
	      <tr value="{{record["invid"]}}">
	      {% elif record["rnno"]!= "" %}
	      <tr value="{{record["rnid"]}}">
	      {% else %}
	      <tr value="{{record["tnid"]}}"> <!-- check once-->
	      {% endif %}
	        <td class="col-xs-1 calign" >
	          {{record["date"]}}
	        </td>
	        {% if godown == "" %}
	        <td class="col-xs-3">
	        {% else %}
	        <td class="col-xs-3">
	        {% endif %}
	          {{record["particulars"]}}
	        </td>
	        <td class="col-xs-2 calign" >
	          {% if record["trntype"] == "delchal" %}
	              Delivery Note
	          {% endif %}
	          {% if record["trntype"] == "invoice" %}
	              Invoice
	          {% endif %}
	          {% if record["trntype"] == "delchal&invoice" %}
	              Delivery Note & Invoice
	          {% endif %}
	          {% if record["trntype"] == "transfer note" %}
	              Transfer Note
	          {% endif %}
	          {#{% if record["trntype"] == "Rejection Note" %}
	              Rejection Note
	          {% endif %}#}

	        </td>
	        <td value="{{record["dcid"]}}" class="col-xs-2 calign" >
	          {% if record["dcno"]!="" %}
	            {{record["dcno"]}}
	          {% endif %}
	        </td>
	        <td value="{{record["invid"]}}" class="col-xs-1 calign" >
	          {% if record["invno"]!="" %}
	            {{record["invno"]}}
	          {% endif %}
	        </td>
	        {% if godown != "" %}
	        <td value="{{record["tnid"]}}" class="col-xs-2 calign" >
	          {% if record["tnno"] != "" %}
	            {{record["tnno"]}}
	          {% endif %}
	        </td>
	        {% endif %}
	        {#<td value="{{record["rnid"]}}" class="col-xs-1 calign" >
	          {% if record["rnno"] != "" %}
	            {{record["rnno"]}}
	          {% endif %}
	        </td>#}
	        <td class="col-xs-1 rightlist">
	          {{record["inwardqty"]}}
	        </td>
	        <td class="col-xs-1 rightlist" >
	          {{record["outwardqty"]}}
	        </td>
	        <td class="col-xs-1 rightlist" >
	          {{record["balance"]}}
	        </td>
	      </tr>
	      {% endif %}

	      {% if record["particulars"] =="Total" and record["dcno"]=="" and record["invno"]=="" and record["date"]=="" %}
	      <tr>
	        <td class="col-xs-1 calign" >
	        </td>
					{% if godown == "" %}
	        <td class="col-xs-4 ">
	        {% else %}
	        <td class="col-xs-3">
	        {% endif %}
	          {{record["particulars"]}}
	        </td>
	        <td class="col-xs-2 calign" >
	        </td>
	        <td class="col-xs-1 calign" >
	        </td>
					<td class="col-xs-2 calign" >
	        </td>
					{% if godown != "" %}
	        <td class="col-xs-1 calign" >
	        </td>
	        {% endif %}
					{#<td class="col-xs-1 calign" >
	        </td>#}
	        <td class="col-xs-1 rightlist">
	          {{record["totalinwardqty"]}}
	        </td>
	        <td class="col-xs-1 rightlist" >
	          {{record["totaloutwardqty"]}}
	        </td>
	        <td class="col-xs-1 rightlist" >
	        </td>
	      </tr>
	      {% endif %}
        {% endfor %}
				</tbody>
			</table>
			<span style="margin:auto; display:table;">
				<button class="btn btn-sm btn-danger hidden-print" type="button" id="printback" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
				<button class="btn btn-sm btn-info hidden-print" type="button"	id="realprint" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
			</span>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("title").html("GNUKhata");
				$("#printback").click(function(event) {
					var backdata = {}
					if ($("#godownflag").val()==0) {
			      backdata = {"productcode":$("#productcode").val(),"productdesc":$("#productdesc").val(),"calculatefrom":$("#calculatefrom").val(), "calculateto":$("#calculateto").val(), "godownflag":$("#godownflag").val(), "goid":"-1", "goname":"", "backflag":1}
			    }
			    else {
			      backdata = {"productcode":$("#productcode").val(),"productdesc":$("#productdesc").val(),"calculatefrom":$("#calculatefrom").val(), "calculateto":$("#calculateto").val(), "godownflag":$("#godownflag").val(), "goid":$("#goid").val(), "goname":$("#goname").val(), "goaddr":$("#goaddr").val(), "backflag":1}
			    }
					console.log(backdata);
					$.ajax(
						{
							type: "POST",
							url: "/product?type=showstockreport",
							global: false,
							async: false,
							datatype: "text/html",
							data: backdata,
							beforeSend: function(xhr)
							{
								xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
							}
						})
						.done(function(resp)
						{
							$("#info").html("");
							$("#info").html(resp);
						}
					);
				});
				$("#realprint").click(function(event) {
					window.print();
				});
			});
		</script>
	</body>
</html>
