<head>
  <style>
   .cashborder{
       border: 1px solid;
       width:100%;
       height:100%;
       display:block;
       overflow:hidden;
   }
  </style>
</head>
<link href="{{request.static_url('gkwebapp:static/css/invoice.css')}}" rel="stylesheet" type="text/css">
<form class="form-inline cashborder">
  <br>
  <div class="col-sm-12">
    <div class="form-group form-inline col-sm-3 nopadding">
      <label class="normal"for="bankname">{% trans %}Cash Memo No{% endtrans %} : </label>
      {{ gkresult["invoiceno"] }}
    </div>
    <div class="form-group form-inline col-sm-3 nopadding">
      <label for="instrument_date" class="normal">{% trans %}Date{% endtrans %} : </label>
      {{ gkresult["invoicedate"] }}
    </div>
    <div class="form-group form-inline col-sm-3 nopadding">
      <label>{% trans %}State{% endtrans %} : </label>

      {{ gkresult["sourcestate"] }}
    </div>
    <div class="col-sm-3">
      <label for="tax applicable" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :</label>
      {% if gkresult["taxflag"] == 22 %}
	VAT
      {% else %}
	GST
      {% endif %}
    </div>
  </div>
  {% if gkresult["taxflag"] == 7 %}
    <div class="form-group form-inline col-sm-12">
      <label for="orgstategstin">{% trans %}GSTIN{% endtrans %} : </label>
      {% if gkresult["orgstategstin"] %}{{ gkresult["orgstategstin"] }}{% endif %}
    </div>
  {% endif %}
  {% if gkresult["taxflag"] == 22 %}
    <div class="col-md-12">
      <br>
      <table id="invoice_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase">
	<thead class="bg-primary">
	  <tr>
	    <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Rate{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
	    <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
	    <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for product in gkresult["invcontents"] %}
	    <tr>
	      <td class="mdvwrap">
		{{ gkresult["invcontents"][product]["proddesc"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["qty"] }} {{ gkresult["invcontents"][product]["uom"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["freeqty"] }} {{ gkresult["invcontents"][product]["uom"] }}
	      </td>

	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["priceperunit"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["discount"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["taxableamount"] }}
	      </td>
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["taxrate"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["taxamount"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["invcontents"][product]["totalAmount"] }}
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
	<tfoot>
	  <tr>
	    <td colspan="4" class="text-right">
	      {% trans %}Total{% endtrans %}
	    </td>
	    <!--  Total : ptotal       -->
	    <td class="smvwrap text-right">
	      {{ gkresult["totaldiscount"] }}
	    </td>
	    <td class="smvwrap text-right">
	      {{ gkresult["totaltaxablevalue"] }}
	    </td>
	    <td class="smvwrap">

	    </td>
	    <td class="smvwrap text-right">
	      {{ gkresult["totaltaxamt"] }}
	    </td>
	    <td class="smvwrap text-right">
	      {{ gkresult["invoicetotal"] }}
	    </td>
	  </tr>
	</tfoot>

      </table>
  {% else %}
      <div class="col-md-12">
	<br>
	<small id="txtareahelp" class="form-text text-muted">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</small>
	<div class="row col-md-12" id="gstproducttable">
	  <div class="col-sm-10" style="overflow-x:scroll;">
	    <div class="row">
	      <table id="invoice_product_table_gst_heading" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
		<thead class="bg-primary">
		  <tr>
		    <th rowspan="2" class="mdwrap text-center">{% trans %}Product{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}HSN Code/ ACS Code{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Quantity{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Free Quantity{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Rate{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
		    {% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="taxwrap text-center">{% trans %}CGST{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="taxwrap text-center">{% trans %}SGST/UTGST{% endtrans %}</th>{% endif %}
		    <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
		  </tr>

		  <tr>
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Rate{% endtrans %} %</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Amount{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Rate{% endtrans %} %</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Amount{% endtrans %}</th>{% endif %}
		    <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
                    <th class="text-center">{% trans %}Amount{% endtrans %}</th>
		  </tr>
		</thead>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="overflow-x:hidden;overflow-y:scroll;width:140%; max-width:140%;">
		<tbody>
		  {% for product in gkresult["invcontents"] %}
		    <tr>
		      <td class="mdwrap">
			{{ gkresult["invcontents"][product]["proddesc"] }}
		      </td>
		      <td class="smwrap text-center">
			{{ gkresult["invcontents"][product]["gscode"] }}
		      </td>
		      <td class="qtywrap text-right">
			{{ gkresult["invcontents"][product]["qty"] }} {{ gkresult["invcontents"][product]["uom"] }}
		      </td>
		      <td class="qtywrap text-right">
			{{ gkresult["invcontents"][product]["freeqty"] }} {{ gkresult["invcontents"][product]["uom"] }}
		      </td>

		      <td class="smwrap text-right">
			{{ gkresult["invcontents"][product]["priceperunit"] }}
		      </td>
		      <td class="smwrap text-right">
			{{ gkresult["invcontents"][product]["discount"] }}
		      </td>
		      <td class="smwrap text-right">
			{{ gkresult["invcontents"][product]["taxableamount"] }}
		      </td>

		      {% if gkresult["invcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["invcontents"][product]["taxrate"] }}</td>{% endif %}
		      {% if gkresult["invcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["invcontents"][product]["taxamount"] }}</td>{% endif %}

		      {% if gkresult["invcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["invcontents"][product]["taxrate"] }}</td>{% endif %}
		      {% if gkresult["invcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["invcontents"][product]["taxamount"] }}</td>{% endif %}
		      <td class="taxcell text-right">{{ gkresult["invcontents"][product]["cessrate"] }}</td>
                      <td class="taxcell text-right">{{ gkresult["invcontents"][product]["cess"] }}</td>
		    </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst_tfoot" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
		<tfoot>
		  <tr>
		    <td colspan="5" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
		    <td class="text-right smwrap">{{ gkresult["totaldiscount"] }}</td>
		    <td class="text-right smwrap">{{ gkresult["totaltaxablevalue"] }}</td>
		    {% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right taxwrap">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right taxwrap">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		    <td colspan="2" class="text-right taxwrap">{{ gkresult["totalcessamt"] }}</td>
		</tfoot>
	      </table>
	    </div>
	  </div>
	  <div class="col-sm-2 nopadding">
	    <table id="invoice_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablepurchase">
	      <thead>
		<tr>
		  <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
		</tr>
	      </thead>
	      <tbody>
		{% for product in gkresult["invcontents"] %}
		  <tr>
		    <td class="col-xs-12 text-right">{{ gkresult["invcontents"][product]["totalAmount"] }}</td>
		  </tr>
		{% endfor %}
	      </tbody>
	      <tfoot>
		<td class="col-xs-12 text-right">
		  {{ gkresult["invoicetotal"] }}
		</td>
	      </tfoot>
	    </table>
	  </div>
	</div>
  {% endif %}
      </div>
    </div>
    <div class="row col-sm-12" style="margin-top:0.5cm;">
      <div class ="col-sm-4 pull-right" >
	<div class="row">
	  <div class="form-inline">
	    <div class="col-sm-6">
	      <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Amount{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="taxableamount" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxablevalue"] }}</label>
	    </div>
	  </div>
	</div>
	{% if gkresult["taxflag"] == 7 %}
	  {% if gkresult["taxname"]=='SGST' %}
	    <div class="row hborderdiv gstfield sgstfield">
	      <div class="sgstfield form-inline">
		<div class="col-sm-6">
		  <label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
		</div>
		<div class="col-sm-6 text-right">
		  <label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
		</div>
	      </div>
	    </div>
	    <div class="row hborderdiv gstfield sgstfield">
	      <div class="sgstfield form-inline">
		<div class="col-sm-6">
		  <label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
		</div>
		<div class="col-sm-6 text-right">
		  <label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
		</div>
	      </div>
	    </div>
	  {% endif %}
	  <div class="row hborderdiv gstfield">
	    <div class="form-inline">
	      <div class="col-sm-6">
		<label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totalcessamt"] }}</label>
	      </div>
	    </div>
	  </div>
	{% else %}
	  <div class="row hborderdiv vatfield">
	    <div class="form-inline">
	      <div class="col-sm-6">
		<label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	      </div>
	    </div>
	  </div>
	{% endif %}
	<div class="row hborderdiv">
	  <div class="form-inline">
	    <div class="col-sm-6">
	      <label for="totalinvdiscount" style="font-size:100% !important;">{% trans %}Total Discount{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvdiscount" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaldiscount"] }}</label>
	    </div>
	  </div>
	</div>
	<div class="row hborderdiv" style="border-bottom-style:solid;">
	  <div class="form-inline">
	    <div class="col-sm-6">
	      <label for="totalinvoicevalue" style="font-size:100% !important;">{% trans %}Grand Total{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvoicevalue" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["invoicetotal"] }}</label>
	    </div>
	  </div>
	</div>
      </div>
      
      <!-- <div class="col-sm-12">
	   <div class="form-group form-inline col-sm-4 pull-right">
	   <label for="totalinvoicevalue" style="font-size:120% !important">{% trans %}Total Amount{% endtrans %} :</label>
	   <label id="totalinvoicevalue">{{ gkresult["invoicetotal"] }}</label>
	   </div>
	   </div> -->
      <!-- code for show or hide bankdetails based on paymentmode,if paymentmode is 2 then show bankdetails or if paymentmode is 3 then show "Cash received"-->
      {% if gkresult["paymentmode"] == 2 %}
	<div class="col-sm-6">
	  <label>Bank Details :</label>
	</div>
	<div class="col-sm-6">
	  <div class="row">
	    <div class="form-group form-inline col-sm-6 nopadding">
	      <label for="accountno" class="col-sm-5">{% trans %}Account No.{% endtrans %} :</label>
	      {% if gkresult["bankdetails"]["accountno"] %}{{ gkresult["bankdetails"]["accountno"] }}{% else %}N/A{% endif %}
	    </div>
	    <div class="form-group form-inline col-sm-6 nopadding">
	      <label for="bankname" class="col-sm-5">{% trans %}Bank Name{% endtrans %} :</label>
	      {% if gkresult["bankdetails"]["bankname"] %}{{ gkresult["bankdetails"]["bankname"] }}{% else %}N/A{% endif %}
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="form-group form-inline col-sm-6 nopadding">
	      <label for="branch" class="col-sm-5">{% trans %}Branch Name{% endtrans %} :</label>
	      {% if gkresult["bankdetails"]["branchname"] %}{{ gkresult["bankdetails"]["branchname"] }}{% else %}N/A{% endif %}
	    </div>
	    <div class="form-group form-inline col-sm-6 nopadding">
	      <label for="ifsc" class="col-sm-5">{% trans %}IFSC code{% endtrans %} :</label>
	      {% if gkresult["bankdetails"]["ifsc"] %}{{ gkresult["bankdetails"]["ifsc"] }}{% else %}N/A{% endif %}
	    </div>
	  </div>
	</div>
      {% else %}
	<div class="col-sm-6"><label style="font-size:120% !important">CASH RECEIVED</label></div>
      {% endif %}
      </div>
</form>
